{% extends 'main.html' %}
{% block tytul %} Gallery {% endblock %}
{% load static %} 
{% block banner-slider %}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="{% static 'images\banner\bannersize-w.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h4>Piękne obrazy na wyciągnięcie ręki</h4>
            </div>
      </div>
      <div class="carousel-item" data-bs-interval="10000">
        <img src="{% static 'images\banner\bannersize-w2.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h4>Kupuj i sprzedawaj dzieła sztuki</h4>
            </div>
      </div>
    </div>
  </div>


{% endblock %}
{% block strona %}

<div class="Powitanie" style="margin: auto; text-align: center; background-color:#f6f8fa;">
  <br>
  <div id="przyciski">
    <p style="color: rgb(0, 0, 0);"> Witaj {{ user.username }} </p>
        {% if user.is_authenticated %}
    
          <a href="{% url 'Logout' %}" class="btn btn-danger" >Logout</a>
          <a href="{% url 'nowy' %}" class="btn btn-primary" >Dodaj obraz</a>
          
        
        {% else %}
          
        <a href="{% url 'Login' %}" class="btn btn-primary" >Login</a>
        <a href="{% url 'Register' %}" class="btn btn-primary" >Register</a>
       
        
        {% endif %}
      </div>  
      <br>
    </div>        
<br>


<div class="container" style="background-color: #f6f8fa;">
      <div class="row" >
        {% for Obraz in Obrazy %}
        <div class="col-lg-3 col-md-4" style="margin-top: 10px;">
          <a href="{% url 'opis' Obraz.id %}" ><img class="img-thumbnail" src="{{ Obraz.grafika.url }}" style="border: 5px double #70493d;" ></a>
          <div class="box-element product" style="padding: 5px; margin: 5px;">
            <h6><strong>{{Obraz}}</strong></h6>
            <hr>
    
            <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
            
            <a class="btn btn-outline-success" href="{% url 'opis' Obraz.id %}">View</a>
            <h5 style="display: inline-block; float: right"><strong>${{Obraz.cena}}</strong></h5>
    
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  {% endblock %}

  