{% extends 'main.html' %}
{% block tytul %} Opis {% endblock %}
{% load static %}
{% load bootstrap %} 
{% block strona %}
{% if obraz.grafika %}
<br>
<div id="kontainer" style="margin: 10px; background-color: #f6f8fa;">
    <img src="{{ obraz.grafika.url }}" class="img-fluid rounded-start" alt="image" style="max-height: 100vh; float: left; max-width: 40%;">
     <div id="opis" style="margin: auto; text-align: center;">
        <br>
        <h1>{{obraz}}</h1>
        <hr style="width: 50%; margin: auto;">
        <br>
         <p>" {{obraz.opis}} "</p>
         <br>
        <p>Autor: {{obraz.wlasciciel}}</p>
        <br>
      </div> 
    </div>
{% endif %}

<br>
<div class="card" style="padding: 10px; margin:auto; background-color: #f8f9fa; max-width: 50%;">
  <div class="card-body">
      <form method="post" enctype="multipart/form-data">
          {%csrf_token%}
          <h6><strong>Podoba Ci się ten obraz - {{ obraz }}? Napisz do autora!</strong></h6>
          {{form|bootstrap}}
          <button type="submit">dodaj</button>
      </form>
  </div>
</div>
{% endblock %}
