{% extends 'main.html' %}
{% load bootstrap %}
{% block tytul %} Profil {% endblock %}
{% block strona %}
<div id="Profil_opis" style= "padding: 20px; background-color: #767676; color: white;">
<h2 style="float: right;">Jak sie masz {{ user }}?</h2>
<a href="{% url 'edit' %}" class="btn btn-success">edytuj profil</a>
</div>
<br>

<div class="container" style="background-color: #f6f8fa;">
  <div class="row" >
    {% for Obraz in obrazy %}
    <div class="col-lg-3 col-md-4" style="margin-top: 10px;">
      <a href="{% url 'opis' Obraz.id %}" ><img class="img-thumbnail" src="{{ Obraz.grafika.url }}" style="border: 5px double #70493d;" ></a>
      <div class="box-element product" style="padding: 5px; margin: 5px;">
        <h6><strong>{{Obraz}}</strong></h6>
        <hr>

        
        <a class="btn btn-outline-success" href="{% url 'edytuj' Obraz.id %}">Edit</a>
        <a class="btn btn-outline-success" href="{% url 'usun' Obraz.id %}">Delete</a>
        <h5 style="display: inline-block; float: right"><strong>${{Obraz.cena}}</strong></h5>

      </div>
    </div>
    {% endfor %}
  </div>
</div>
   
{% endblock %}