{% extends 'main.html' %}
{% load bootstrap %}
{% block tytul %} Profil {% endblock %}
{% block strona %}
<div id="Profil_opis" style="clear:both; margin:10px;">
<h1>hello {{ user }}</h1>
<a href="{% url 'edit' %}" class="btn btn-success">edytuj profil</a>
<br>
<h2>Twoje obrazy:</h2>
liczba obrazów: {{obrazy.count}}

</div>
{% for Obraz in obrazy %}

<div class="card" style="width: 18rem; height: 600px; margin:10px; float: left; background-color: #f8f9fa;">
    {% if Obraz.grafika %}
    <a href="{% url 'opis' Obraz.id %}"><img src="{{ Obraz.grafika.url }}" class="card-img-top" alt="..."></a>
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{Obraz}}</h5>
      <p class="card-text">{{Obraz.cena}} zł</p>
      <p class="card-text">Autor: {{Obraz.wlasciciel}}</p>
      <a href="{% url 'opis' Obraz.id %}" class="btn btn-success">Kup</a>
      {% if user.is_authenticated %}
        
            <a href="{% url 'edytuj' Obraz.id %}" class="btn btn-primary">edytuj</a>
            <a href="{% url 'usun' Obraz.id %}" class="btn btn-primary">usuń</a>
        
      {% endif %}
    </div>
  </div>

{% endfor %}    
{% endblock %}