{% extends 'main.html' %}
{% load bootstrap %}
{% block tytul %} Usuń obraz {% endblock %}
{% block strona %}
<div class="card" style="width: 18rem; margin: auto; background-color: #f8f9fa;">
    {% if obraz.grafika %}
    <img src="{{ obraz.grafika.url }}" class="card-img-top" alt="...">
    {% endif %}
    <form method="POST">
    {%csrf_token%}
    <div class="card-body">
      <h5 class="card-title">Czy napewno chcesz usunąć ten obraz?</h5>
      <p class="card-text">{{obraz}}</p>
      <button type="submit" class="btn btn-primary">usuń</button>
    </div>
  </div>

  {% endblock %}