{% extends 'main.html' %}
{% load bootstrap %}
{% block tytul %} Usuń obraz {% endblock %}
{% block strona %}
<br>
<h2 style="text-align: center;">Czy napewno chcesz ususnąć tą wiadomość? </h2>
<br>
    <div class="card text-bg-secondary mb-3" style="max-width: 18rem; margin: auto;">
        <div class="card-header">{{wiadomosc.obraz}}</div>
            <div class="card-body">
                <h5 class="card-title">{{wiadomosc.imie}}</h5>
                <p class="card-text">{{wiadomosc.wiadomosc}}</p>
                <form method="POST">
                    {%csrf_token%}
                    <button type="submit" class="btn btn-primary">usuń</button>
            </div>
        </div>
  

  {% endblock %}